<a href="https://colab.research.google.com/github/sidchaubey/python/blob/master/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [11]:
# Identifiers: name to given to entities like variable, function, class etc.
a = 10
b = 10.4
c = 10+2j
i = "This is my yard"
d = [1, 2.2, "Male", 2+3j]
e = (1, 2.2, "Male", 2+3j)
f = {1, 1, 1, 2.2, "Male", 2+3j}
h = True
j = {1: 1, 2: 4}

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))
print(h, type(h))
print(i, type(i))
print(j, type(j))

10 <class 'int'>
10.4 <class 'float'>
(10+2j) <class 'complex'>
[1, 2.2, 'Male', (2+3j)] <class 'list'>
(1, 2.2, 'Male', (2+3j)) <class 'tuple'>
{1, 2.2, (2+3j), 'Male'} <class 'set'>
True <class 'bool'>
This is my yard <class 'str'>
{1: 1, 2: 4} <class 'dict'>

In [12]:
d = "Let's go out"
print(d, type(d))

Let's go out <class 'str'>

# Operators:
1. Assignment (+=, -=, /=, //=, *=, %=, **)
2. Comparision(<=, >=, ==, <, >, !=)
3. Logical(and, or, not)
4. Bitwise(<<, >>)
5.Arithematic(+, -, /, //, *, %, **)
6. special 
  * Identity Operator(is)
  * Membership Operator(in)

In [13]:
# Flow Control statements: 
# if 
# if else
# if elif else
# if if else else

In [15]:
# Looping 
# while loop 
# for loop

In [16]:
# List

In [18]:
l = ["Apple"]
print(l)
print(type(l))
print(isinstance(l, list))

['Apple']
<class 'list'>
True

In [19]:
# list methods
l.append("Mango")
print(l)
l.append(["Grapes", "Kiwi"])
print(l)
l.insert(1, "Lion")
print(l)
l.extend("TVF")
print(l)
l.extend(["PewDiePie", "ut"])
print(l)

['Apple', 'Mango']
['Apple', 'Mango', ['Grapes', 'Kiwi']]
['Apple', 'Lion', 'Mango', ['Grapes', 'Kiwi']]
['Apple', 'Lion', 'Mango', ['Grapes', 'Kiwi'], 'T', 'V', 'F']
['Apple', 'Lion', 'Mango', ['Grapes', 'Kiwi'], 'T', 'V', 'F', 'PewDiePie', 'ut']

In [20]:
print("The present list is: ", l)

l.remove("Mango")
print(l)
del l[1]
print(l)
l.pop()
print(l)

The present list is:  ['Apple', 'Lion', 'Mango', ['Grapes', 'Kiwi'], 'T', 'V', 'F', 'PewDiePie', 'ut']
['Apple', 'Lion', ['Grapes', 'Kiwi'], 'T', 'V', 'F', 'PewDiePie', 'ut']
['Apple', ['Grapes', 'Kiwi'], 'T', 'V', 'F', 'PewDiePie', 'ut']
['Apple', ['Grapes', 'Kiwi'], 'T', 'V', 'F', 'PewDiePie']

In [35]:
import random
lst = [99, 525, 21, 6, 1]
print(lst)
l = sorted(lst)
print(lst)
print(l)
lst.sort()
print(lst)

[99, 525, 21, 6, 1]
[99, 525, 21, 6, 1]
[1, 6, 21, 99, 525]
[1, 6, 21, 99, 525]

In [36]:
# list looping

i = 0
while i<len(lst):
  print(lst[i])
  i+=1

1
6
21
99
525

In [37]:
for i in lst:
  print(i)

1
6
21
99
525

In [40]:
# list Comp

squ = [i**2 for i in lst]
print(squ)

even_square = [i**2 for i in lst if i%2==0] 
print(even_square)
even_square_odd_cube = [i**2 if i%2==0 else i**3 for i in lst]
print(even_square_odd_cube)

[1, 36, 441, 9801, 275625]
[36]
[1, 36, 9261, 970299, 144703125]

In [41]:
# Tuple

l = (1)
print(type(l))
# Note In case of tuple with one element just using () does not creates tuple we'll have to use (element,)
l = (1,)
print(type(l))

<class 'int'>
<class 'tuple'>

In [55]:
# sets
a = {12}
print(type(a))
a.add(17)
print(a)
a.update({18, 20})
print(a)
a.clear()
print(a)
a.update([10, 20, 30])
print(a)
a.pop()
print(a)
print(20 in a)
a.discard(20)
print(a)

<class 'set'>
{17, 12}
{17, 18, 12, 20}
set()
{10, 20, 30}
{20, 30}
True
{30}

In [58]:
# dictationary

di = {1: 1, 2:2, 3:3}

print(type(di))

<class 'dict'>

In [59]:
d = {}
for i in range(1, 199):
  d[i] = i**2

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000, 101: 10201, 102: 10404, 103: 10609, 104: 10816, 105: 11025, 106: 11236, 107: 11449, 108: 11664, 109: 11881, 110: 12100, 111: 12321, 112: 12544, 113: 12769, 114: 12996, 115: 13225, 116: 13456, 117: 13689, 118: 13924, 119: 14161, 120: 14400, 121: 14641, 122: 14884, 123: 15129, 124: 15376, 125: 15625, 126: 15876, 127: 16129, 128: 16384, 129: 16641, 130: 16900, 131: 17161, 132: 17424, 133: 17689, 134: 17956, 135: 18225, 136: 18496, 137: 18769, 138: 19044, 139: 19321, 140: 19600, 141: 19881, 142: 20164, 143: 20449, 144: 20736, 145: 21025, 146: 21316, 147: 21609, 148: 21904, 149: 22201, 150: 22500, 151: 22801, 152: 23104, 153: 23409, 154: 23716, 155: 24025, 156: 24336, 157: 24649, 158: 24964, 159: 25281, 160: 25600, 161: 25921, 162: 26244, 163: 26569, 164: 26896, 165: 27225, 166: 27556, 167: 27889, 168: 28224, 169: 28561, 170: 28900, 171: 29241, 172: 29584, 173: 29929, 174: 30276, 175: 30625, 176: 30976, 177: 31329, 178: 31684, 179: 32041, 180: 32400, 181: 32761, 182: 33124, 183: 33489, 184: 33856, 185: 34225, 186: 34596, 187: 34969, 188: 35344, 189: 35721, 190: 36100, 191: 36481, 192: 36864, 193: 37249, 194: 37636, 195: 38025, 196: 38416, 197: 38809, 198: 39204}

In [60]:
{i: i**19 for i in d if i%10==0}

{10: 10000000000000000000,
 20: 5242880000000000000000000,
 30: 11622614670000000000000000000,
 40: 2748779069440000000000000000000,
 50: 190734863281250000000000000000000,
 60: 6093597400104960000000000000000000,
 70: 113988951853731430000000000000000000,
 80: 1441151880758558720000000000000000000,
 90: 13508517176729920890000000000000000000,
 100: 100000000000000000000000000000000000000,
 110: 611590904484145462910000000000000000000,
 120: 3194799993706229268480000000000000000000,
 130: 14619202903754461106770000000000000000000,
 140: 59763039589489143971840000000000000000000,
 150: 221683782005310058593750000000000000000000,
 160: 755578637259143234191360000000000000000000,
 170: 2390724356851513248471530000000000000000000,
 180: 7082353453553376763576320000000000000000000,
 190: 19784196556603135891239790000000000000000000}

In [62]:
d[199] = i**2
print(len(d))

199

In [63]:
for index, value in d.items():
  print(f"Index is : {index}\nValue is: {value}\n\n")

Index is : 1
Value is: 1


Index is : 2
Value is: 4


Index is : 3
Value is: 9


Index is : 4
Value is: 16


Index is : 5
Value is: 25


Index is : 6
Value is: 36


Index is : 7
Value is: 49


Index is : 8
Value is: 64


Index is : 9
Value is: 81


Index is : 10
Value is: 100


Index is : 11
Value is: 121


Index is : 12
Value is: 144


Index is : 13
Value is: 169


Index is : 14
Value is: 196


Index is : 15
Value is: 225


Index is : 16
Value is: 256


Index is : 17
Value is: 289


Index is : 18
Value is: 324


Index is : 19
Value is: 361


Index is : 20
Value is: 400


Index is : 21
Value is: 441


Index is : 22
Value is: 484


Index is : 23
Value is: 529


Index is : 24
Value is: 576


Index is : 25
Value is: 625


Index is : 26
Value is: 676


Index is : 27
Value is: 729


Index is : 28
Value is: 784


Index is : 29
Value is: 841


Index is : 30
Value is: 900


Index is : 31
Value is: 961


Index is : 32
Value is: 1024


Index is : 33
Value is: 1089


Index is : 34
Value is: 1156


Index is : 35
Value is: 1225


Index is : 36
Value is: 1296


Index is : 37
Value is: 1369


Index is : 38
Value is: 1444


Index is : 39
Value is: 1521


Index is : 40
Value is: 1600


Index is : 41
Value is: 1681


Index is : 42
Value is: 1764


Index is : 43
Value is: 1849


Index is : 44
Value is: 1936


Index is : 45
Value is: 2025


Index is : 46
Value is: 2116


Index is : 47
Value is: 2209


Index is : 48
Value is: 2304


Index is : 49
Value is: 2401


Index is : 50
Value is: 2500


Index is : 51
Value is: 2601


Index is : 52
Value is: 2704


Index is : 53
Value is: 2809


Index is : 54
Value is: 2916


Index is : 55
Value is: 3025


Index is : 56
Value is: 3136


Index is : 57
Value is: 3249


Index is : 58
Value is: 3364


Index is : 59
Value is: 3481


Index is : 60
Value is: 3600


Index is : 61
Value is: 3721


Index is : 62
Value is: 3844


Index is : 63
Value is: 3969


Index is : 64
Value is: 4096


Index is : 65
Value is: 4225


Index is : 66
Value is: 4356


Index is : 67
Value is: 4489


Index is : 68
Value is: 4624


Index is : 69
Value is: 4761


Index is : 70
Value is: 4900


Index is : 71
Value is: 5041


Index is : 72
Value is: 5184


Index is : 73
Value is: 5329


Index is : 74
Value is: 5476


Index is : 75
Value is: 5625


Index is : 76
Value is: 5776


Index is : 77
Value is: 5929


Index is : 78
Value is: 6084


Index is : 79
Value is: 6241


Index is : 80
Value is: 6400


Index is : 81
Value is: 6561


Index is : 82
Value is: 6724


Index is : 83
Value is: 6889


Index is : 84
Value is: 7056


Index is : 85
Value is: 7225


Index is : 86
Value is: 7396


Index is : 87
Value is: 7569


Index is : 88
Value is: 7744


Index is : 89
Value is: 7921


Index is : 90
Value is: 8100


Index is : 91
Value is: 8281


Index is : 92
Value is: 8464


Index is : 93
Value is: 8649


Index is : 94
Value is: 8836


Index is : 95
Value is: 9025


Index is : 96
Value is: 9216


Index is : 97
Value is: 9409


Index is : 98
Value is: 9604


Index is : 99
Value is: 9801


Index is : 100
Value is: 10000


Index is : 101
Value is: 10201


Index is : 102
Value is: 10404


Index is : 103
Value is: 10609


Index is : 104
Value is: 10816


Index is : 105
Value is: 11025


Index is : 106
Value is: 11236


Index is : 107
Value is: 11449


Index is : 108
Value is: 11664


Index is : 109
Value is: 11881


Index is : 110
Value is: 12100


Index is : 111
Value is: 12321


Index is : 112
Value is: 12544


Index is : 113
Value is: 12769


Index is : 114
Value is: 12996


Index is : 115
Value is: 13225


Index is : 116
Value is: 13456


Index is : 117
Value is: 13689


Index is : 118
Value is: 13924


Index is : 119
Value is: 14161


Index is : 120
Value is: 14400


Index is : 121
Value is: 14641


Index is : 122
Value is: 14884


Index is : 123
Value is: 15129


Index is : 124
Value is: 15376


Index is : 125
Value is: 15625


Index is : 126
Value is: 15876


Index is : 127
Value is: 16129


Index is : 128
Value is: 16384


Index is : 129
Value is: 16641


Index is : 130
Value is: 16900


Index is : 131
Value is: 17161


Index is : 132
Value is: 17424


Index is : 133
Value is: 17689


Index is : 134
Value is: 17956


Index is : 135
Value is: 18225


Index is : 136
Value is: 18496


Index is : 137
Value is: 18769


Index is : 138
Value is: 19044


Index is : 139
Value is: 19321


Index is : 140
Value is: 19600


Index is : 141
Value is: 19881


Index is : 142
Value is: 20164


Index is : 143
Value is: 20449


Index is : 144
Value is: 20736


Index is : 145
Value is: 21025


Index is : 146
Value is: 21316


Index is : 147
Value is: 21609


Index is : 148
Value is: 21904


Index is : 149
Value is: 22201


Index is : 150
Value is: 22500


Index is : 151
Value is: 22801


Index is : 152
Value is: 23104


Index is : 153
Value is: 23409


Index is : 154
Value is: 23716


Index is : 155
Value is: 24025


Index is : 156
Value is: 24336


Index is : 157
Value is: 24649


Index is : 158
Value is: 24964


Index is : 159
Value is: 25281


Index is : 160
Value is: 25600


Index is : 161
Value is: 25921


Index is : 162
Value is: 26244


Index is : 163
Value is: 26569


Index is : 164
Value is: 26896


Index is : 165
Value is: 27225


Index is : 166
Value is: 27556


Index is : 167
Value is: 27889


Index is : 168
Value is: 28224


Index is : 169
Value is: 28561


Index is : 170
Value is: 28900


Index is : 171
Value is: 29241


Index is : 172
Value is: 29584


Index is : 173
Value is: 29929


Index is : 174
Value is: 30276


Index is : 175
Value is: 30625


Index is : 176
Value is: 30976


Index is : 177
Value is: 31329


Index is : 178
Value is: 31684


Index is : 179
Value is: 32041


Index is : 180
Value is: 32400


Index is : 181
Value is: 32761


Index is : 182
Value is: 33124


Index is : 183
Value is: 33489


Index is : 184
Value is: 33856


Index is : 185
Value is: 34225


Index is : 186
Value is: 34596


Index is : 187
Value is: 34969


Index is : 188
Value is: 35344


Index is : 189
Value is: 35721


Index is : 190
Value is: 36100


Index is : 191
Value is: 36481


Index is : 192
Value is: 36864


Index is : 193
Value is: 37249


Index is : 194
Value is: 37636


Index is : 195
Value is: 38025


Index is : 196
Value is: 38416


Index is : 197
Value is: 38809


Index is : 198
Value is: 39204


Index is : 199
Value is: 39204

In [64]:
# Functions

def my_name():
  print("Hello User")

my_name()
# It would be great if we could add our name in place of what we're getting as user
def my_name(name):
  print(f"Hello {name}")

my_name("Sid")

Hello User
Hello Sid

In [65]:
# Function with default args

def my_name(name="User"):
  print(f"Hello {name}")

my_name("Sid")
my_name()

Hello Sid
Hello User

In [73]:
# Variable arguments
def my_list(*args):
  print(type(args))
  for i in args:
    print(i)

my_list(10,20,30,1,3,2)
print("\n\n\n")


# variable length of keyword args:
def my_keyword(**kwargs):
  print(type(kwargs))
  for key, value in kwargs.items():
    print(f"Key is: {key}\nValue is: {value}\n")

my_keyword(name="Sid", rollno=1010)

<class 'tuple'>
10
20
30
1
3
2




<class 'dict'>
Key is: name
Value is: Sid

Key is: rollno
Value is: 1010

In [79]:
# Inbuild:

# 1. abs
print(abs(10.3))
print(abs(-10.3))

# 2. all()
print(all([1,2,3,4]))
print(all([0,1,2,3]))

# 3. any()
print(any([1,2,3,4]))
print(any([0,1,2,3]))

# 4. dir
a = 10
print(dir(a))

# filter

a = list(range(10))
print("a: ", a)

b = lambda x: (x%2==0)
even_lst = list(filter(b,a))
print(even_lst)

even_squ = list(map(lambda x: x**2,even_lst))
print(even_squ)

# Reduce function to perform cumulative operation
from functools import reduce
total = reduce(lambda x,y: x+y, even_squ)
print(total)

10.3
10.3
True
False
True
True
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
a:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 4, 16, 36, 64]
120

In [81]:
!touch file.txt

In [94]:
import requests

a = requests.get("https://www.howtogeek.com")
print(a.status_code)
# print(a.text)

with open("file.txt", "w") as f:
  f.write(a.text)

200

In [97]:
with open("file.txt", "r") as f:
  file_content = f.readlines() 

# print(file_content)

text_str = "".join(file_content)

In [98]:
len(text_str)

193227

In [99]:
count = 0
for i in text_str:
  count +=1

print(count)

193227